.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-map-container {
  flex: 1;
  padding-right: 5%; /* 右側に5%のパディングを追加 */
}

.App-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  justify-content: space-between;
  height: 100vh;
}

.App-search-container {
  
  width: 15%;
  margin-left:5%;
  margin-right:5%;
}

.App-map-style {
  width: '80%';
  height: '400px';
  margin-right: 10%;
}

.App-search-section {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  height: '100vh';
}

.App-input-group {
  display: flex;
  flex-direction: column; /* 要素を縦に並べる */
  align-items: flex-start; /* 要素を左揃えにする */
  margin-bottom: 1em; /* 下にマージンを追加して要素間にスペースを作る */
}

.App-input {
  width: 80%; /* 入力フィールドの幅を80%に設定 */
}