.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* 各ユーザーアイテム間にスペースを確保 */
}

.user-item button {
  margin-left: 10px; /* ボタン間にスペースを確保 */
}
